@use 'styles/mixins/mediaQueries';
@use 'styles/mixins/utilities';

.WindowCard {
  @include utilities.cardIndustrias;
  @include utilities.flex(row, flex-end, center);
  animation: fadeInWindow 1.5s;

  @keyframes fadeInWindow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__logo {
    position: absolute;
    width: 28%;
    height: 8%;
    top: calc(50% - 4%);
    left: 10%;
    animation: fadeInLogo 2.5s ease-in;

    @keyframes fadeInLogo {
      0%,
      50% {
        top: calc(50% - 4%);
        left: calc(50% - 14%);
      }
    }
  }

  &__Description {
    @include utilities.flex(column, center, center, 2em);
    margin-right: 10%;
    width: 40%;
    animation: fadeInDescription 2.5s ease-in;
    @include mediaQueries.for-phone {
      gap: 2vw;
    }
  }

  @keyframes fadeInDescription {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.Description {
  &__parrafo {
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
    line-height: 1.4;

    @include mediaQueries.for-phone {
      font-size: 1.6vw;
    }
  }

  &__link {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #fedc31;
    @include utilities.flex(row, center, __);

    @include mediaQueries.for-phone {
      font-size: 1.6vw;
    }
  }

  &__arrow {
    width: 1.2em;
    margin-left: 0.5em;
    animation: arrowEffect 1s infinite;
    @include mediaQueries.for-phone {
      width: 1.6vw;
    }
  }

  @keyframes arrowEffect {
    50% {
      transform: translateX(0.5em);
    }
  }
}
