@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(100vh);
  display: grid;
  grid-template: repeat(4, 1fr) 0.5fr 1.5fr 0.5fr / auto;
  margin: 0 2rem;

  @include mediaQueries.for-desktop-new {
    grid-template: repeat(2, 0.5fr) repeat(2, 1fr) / 1.5fr 1fr 1.5fr;
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__title {
    grid-area: 2/1/2/2;
    font-size: clamp(2.5rem, 6rem, 3.3rem);
    font-weight: bold;
    place-self: center;
    text-align: center;
    @include mediaQueries.for-desktop-new {
      grid-area: 1/1/2/3;
      text-align: left;
      place-self: start;
      align-self: center;
    }
  }

  &__p1 {
    grid-area: 3/1/4/2;
    place-self: center;
    text-align: center;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    @include mediaQueries.for-desktop-new {
      grid-area: 2/1/3/3;
      text-align: left;
      place-self: start;
    }
  }

  &__titleGraf {
    grid-area: 4/1/5/2;
    place-self: center;
    text-align: center;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    @include mediaQueries.for-desktop-new {
      grid-area: 3/1/5/2;
      margin: 0 5rem;
    }
  }

  &__graf {
    grid-area: 5/1/7/2;
    place-self: center;
    @include mediaQueries.for-desktop-new {
      grid-area: 3/2/5/4;
      width: 60rem;
    }
  }
}

.ChartLine {
  width: 100%;
}
