@use 'styles/mixins/mediaQueries';
@use 'styles/mixins/utilities';

@mixin brilloMobileandTablet {
  &__imgBrillo {
    width: 80%;
    height: 80%;
    top: calc(50% - 42%);
    left: calc(50% - 43%);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      width: 4%;
      height: 4%;
      top: calc(50% - 5%);
      left: calc(50% - 6%);
    }
    100% {
      width: 80%;
      height: 80%;
      top: calc(50% - 42%);
      left: calc(50% - 43%);
    }
  }
}

.Section {
  @include utilities.background-image(var(--url-bg-inpirarCrear));
  @include utilities.section-100vh;

  &__title {
    position: absolute;
    width: max-content;
    font-size: 4.5vw;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - 11%);
    z-index: 9;
    display: flex;
    @include mediaQueries.for-desktop-xxl {
      font-size: 5rem;
      top: calc(50% - 9%);
    }
  }

  &__List {
    margin-right: 4em;
  }

  @include mediaQueries.for-phone {
    &__title {
      width: 80%;
      top: calc(50% - 20%);
      left: calc(50% - 40%);
      font-size: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include mediaQueries.for-tablet {
    &__title {
      width: 80%;
      top: calc(50% - 25%);
      left: calc(50% - 40%);
      font-size: 4rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__imgBrillo {
    @include utilities.background-image(var(--url-luz-mode));
    background-size: contain;
    position: absolute;
    width: 40%;
    height: 40%;
    top: calc(50% - 22%);
    left: calc(50% - 25%);
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      width: 4%;
      height: 4%;
      top: calc(50% - 5%);
      left: calc(50% - 6%);
    }
  }

  @include mediaQueries.for-phone {
    @include brilloMobileandTablet;
  }

  @include mediaQueries.for-tablet {
    @include brilloMobileandTablet;
  }
}

.List {
  &__item {
    position: absolute;
    animation: roll 8s ease 1s infinite backwards;
    width: 3.7em;
    text-align: end;

    &:nth-child(1) {
      animation-delay: 0s;
      opacity: 0;
    }
    &:nth-child(2) {
      animation-delay: 2s;
      opacity: 0;
    }
    &:nth-child(3) {
      animation-delay: 4s;
      opacity: 0;
    }
    &:nth-child(4) {
      animation-delay: 6s;
      opacity: 0;
    }
  }

  @keyframes roll {
    0% {
      opacity: 0;
      transform: translate3d(0, -70%, 0);
    }

    2.5%,
    25% {
      opacity: 1;
      transform: translateZ(0);
    }

    27.5%,
    100% {
      opacity: 0;
      transform: translate3d(0, 70%, 0);
    }
  }
}
