@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.sectionNoOverflow(55vh);
  @include mediaQueries.for-desktop-new {
    @include utilities.sectionNoOverflow(80vh);
  }
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  .Title {
    color: transparent;
    background: linear-gradient(60deg, #ffde00, #e71d73, #ffde00);
    background-size: 200%;
    background-clip: text;
    animation: text_animate 8s linear infinite;
    width: 90%;
    @include mediaQueries.for-desktop-new {
      width: 69%;
    }
  }
  
  @keyframes text_animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}

.SlideBTN {
  display: block;
  @include mediaQueries.for-desktop-new {
    display: none;
  }
}

.Section2 {
  display: flex;
  margin: 0 clamp(2rem,5vw,5rem);
  gap: clamp(3rem,6vw,6rem);
  z-index: 1;

  .DropdownLine {
    display: none;
    @include mediaQueries.for-desktop-new {
      display: flex;
      .Dropdown {
        display: none;
        @include mediaQueries.for-desktop-new {
          display: flex;
          flex-direction: column;
        }
      }
      .Line {
        display: none;
        @include mediaQueries.for-desktop-new {
          display: block;
          margin-left: 1rem;
          width: .05rem;
          background-color: #CBCBCB;
        }
      }
    }
  }

  .Position {
    display: flex;
    flex-direction: column;
    width: 100%;

    .Trabajo {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
      .Line {
        margin-top: 1rem;
        height: .05rem;
        background-color: #CBCBCB;
      }
      
      .Row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .Texto {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          :nth-child( 3 ){ 
            color: #9C9C9C ;
          }
        }
  
        .MostrarBtn {
          display: none;
          @include mediaQueries.for-desktop-new {
            display: block;
          }
        }
      }
    
      .Row2 {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
  
        .MostrarTypo {
          display: none;
          @include mediaQueries.for-desktop-new {
            display: block;
          }
        }
  
        .linkWidth {
          width: max-content;
          padding-bottom: 2rem;
        }
      }
    }
  }
}
  