@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.All {
  margin: 0 clamp(2rem,4vw,4rem);
  .Section{
    @include mediaQueries.for-desktop-new {
      @include utilities.section(100vh);
    }
    @include utilities.section(90vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
  
    .title{
      font-weight: 500;
    }

    .ubicacion{
      display: flex;
      align-items: center;
      color: #8F8F8F;
      margin-bottom: clamp(0rem,1vw,1rem);
      gap: .5rem;
      .icon{
        font-size: clamp(.8rem,1.5vw,1.5rem);
        max-width: min-content;
      }
    }

    .convocatoria_abierta{
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: clamp(1.5rem,3vw,3rem);
      background-color: #d1e7dd;
      border-radius: 50rem;
      padding: .5rem 1rem;
      color: #0a3622;
      font-size: clamp(.7rem,1vw,1rem);
      .icon{
        max-width: min-content;
      }
    }

    .convocatoria_cerrada{
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: clamp(1.5rem,3vw,3rem);
      background-color: #f8d7da;
      border-radius: 50rem;
      padding: .5rem 1rem;
      color: #58151c;
      font-size: clamp(.7rem,1vw,1rem);
      .icon{
        max-width: min-content;
      }
    }

    .btn{
      margin-bottom: clamp(2.5rem,5vw,5rem);
    }
  }

  .contentJobDrop{
    margin: clamp(1rem, 2vw, 2rem) 0;
  }

  .contentjob {
    display: flex;
    flex-direction: column;
  }

  .last_btn{
    margin: clamp(6rem,8vw,8rem) 0;
    display: flex;
    justify-content: center;
  }
}