@use 'styles/mixins/mediaQueries';

.Humburguer {
  @include mediaQueries.for-phone {
    place-self: center;
    font-size: 1.5rem;
  }

  @include mediaQueries.for-tablet {
    place-self: center;
    font-size: 1.5rem;
  }
}
