@use 'styles/mixins/mediaQueries';

.dropdown {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 100%;
  @include mediaQueries.for-desktop-new {
    width: 22vw;
  }

  .dropdownHeader {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1.13rem, 2.5vw, 2.5rem);

    &__icon {
      font-size: clamp(1rem,1.5vw,1.5rem);
      width: max-content;
    }
  }
  
  .dropdownOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    margin-top: clamp(1.5rem,2.5vw,2.5rem);
    font-size: clamp(1rem, 1.8vw, 1.8rem);

    .checkbox {
      display: grid;
      align-items: center;
      grid-template-columns: 1% 90%;
      gap: 1.8rem;
      cursor: pointer;
    
      & input[type="radio"] {
        appearance: none;
        border: 1px solid black;
        width: .8rem;
        height: .8rem;
        cursor: pointer;
    
        &:hover {
          background-color: gray;
        }
    
        &:checked {
          background-color: black;
          transform: rotate(90deg);
          transition: all 0.2s ease;
        }
      }
    }
    
  }
  
  .Line {
    margin-top: clamp(1rem,2vw,2rem);
    height: .05rem;
    background-color: #CBCBCB;
  }
  
}

