// modos de visualización
body,
body[data-theme='light'] {
  --url-bg-inpirarCrear: white;
  --url-luz-mode: url('/pages/home/luz_mode_white.webp');
  --text-font-color: black;
  --text-font-color-disabled: rgba(0, 0, 0, 0.5);
  --backgorund-disabled: chocolate;
  --color-bg-navbar: rgba(255, 255, 255, 0.5);
  --background-color: white;
  --background-card: rgb(237, 237, 237);
  --link-color: #4b4b4b;
  --logo-ucv: #001E42;
  --background-container: #EDEDED;
  --bg-table-title: #E8E8E8;
  --bg-table-content: #F9F9F9;
  --rectangle-link: rgba(0, 0, 0, 0.7);
  --sombra: rgba(0, 0, 0, 0.1);
}

body[data-theme='dark'] {
  --url-bg-inpirarCrear: url('/pages/home/fondo-planeta.webp');
  --url-luz-mode: url('/pages/home/luz_mode_black.webp');
  --text-font-color: white;
  --text-font-color-disabled: #ffffff80;
  --backgorund-disabled: midnightblue;
  --color-bg-navbar: rgba(0, 0, 0, 0.5);
  --background-color: black;
  --background-card: rgb(32, 32, 32);
  --link-color: #e8e8e8;
  --logo-ucv: white;
  --background-container: #1E1E1E;
  --bg-table-title: #BBBBBB;
  --bg-table-content: #CBCBCB;
  --rectangle-link: rgba(255, 255, 255, 0.7);
  --sombra: rgba(255, 255, 255, 0.1);
}
