@use 'styles/mixins/mediaQueries';

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 10rem 2rem 6rem;

  @include mediaQueries.for-desktop-new {
    margin: clamp(10rem,15vw,15rem) clamp(2rem,14vw,14rem) clamp(6rem,12vw,12rem);
  }

  .Title {
    font-size: clamp(1.88rem,5.75vw,5.75rem);
    font-weight: bold;

    &__subtitle {
      font-size: clamp(1.25rem,2.62vw,2.62rem);
      font-weight: 400;
    }

    @include mediaQueries.for-desktop-new {
      padding-bottom: clamp(0rem,3vw,3rem);
    }
  }


  &__paragraph{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: clamp(1.13rem,2vw,2rem);
    white-space: pre-wrap;
  }
}