@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Card {
  display: grid;
  background-color: var(--background-color);

  &__gridrow1{
    grid-template-rows: .5fr 1fr;
    @include mediaQueries.for-desktop-new {
      grid-template-rows: 30rem 60rem;
    }
  }

  &__gridrow2{
    grid-template-rows: 60rem 30rem;
  }

  &__gridcolum1{
    grid-template-columns: .8fr 1fr;
    grid-template-rows: 1fr;
  }

  &__gridcolum2{
    grid-template-columns: 1fr .8fr;
    grid-template-rows: 1fr;
  }

  &__imagen {
    position: relative;

    &_up {
      grid-area: 1 / 3;
    }

    &_down {
      grid-area: 2 / 3;
    }

    &_left {
      grid-area: 1 / -3;
    }

    &_right {
      grid-area: 1 / 2;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(2rem,4vw,4rem);
    margin: clamp(3rem,8vw,8rem) clamp(2rem,5vw,5rem);

    & h1 {
      font-size: clamp(1.56rem, 5vw, 5rem);
      font-weight: bold;
    }

    & p {
      text-align: justify;
      font-size: clamp(1rem, 2.5vw, 2.5rem);
    }

    &_up {
      grid-area: 1 / 3;
    }

    &_down {
      grid-area: 2 / 3;
    }

    &_left {
      grid-area: 1 / -3;
    }

    &_right {
      grid-area: 1 / 2;
    }
  }
}
