.Table {
  padding-top: clamp(3rem,6vw,6rem);
  width: 100%;

  & div:nth-child(3n) {
    background-color: var(--bg-table-title);
    color: black;
  }

  &__titles {
    display: flex;
    background-color: var(--bg-table-title);
    font-weight: bold;
    color: black;

    & > p {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }

  &__rows {
    display: flex;
    align-items: center;
    font-size: clamp(1rem,2vw,2rem);
  }

  .Colums {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: clamp(1rem,3vw,3rem);
    width: 100%;
  }
}