@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(160vh);
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  .Container1 {
    @include utilities.background-image(
    url('/pages/contacto/bg-contacto.png')
    );

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__title {
      font-size: clamp(3.8rem,8vw,9rem);
      font-weight: 700;
      color: transparent;
      background: linear-gradient(60deg, #ffde00, #e71d73, #ffde00);
      background-size: 200%;
      background-clip: text;
      animation: text_animate 8s linear infinite;
    }

    @keyframes text_animate {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 200%;
      }
    }
  }

  .Container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    gap: 6rem;

    .Titulo {
      &__title {
        text-align: left;
        font-size: clamp(2.7rem,5vw,5rem);
        font-weight: bold;
      }
    }

  }
  
  @include mediaQueries.for-desktop-new {
    @include utilities.section(150vh);
  }
}

.Section2 {
  @include utilities.section(100vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  gap: 6rem;

  .Titulo {
    &__title {
      text-align: left;
      font-size: clamp(2.7rem,5vw,5rem);
      font-weight: bold;
    }
  }

  .Texto {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.Section3 {
  @include utilities.section(80vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  gap: 6rem;

  .Titulo {
    &__title {
      text-align: left;
      font-size: clamp(2.7rem,5vw,5rem);
      font-weight: bold;
    }
  }
}

.Section4 {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  padding: 5rem 2.5rem 5rem 2.5rem;
  gap: 3rem;

  .Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mediaQueries.for-desktop-new {
      flex-direction: row;
      gap: 1rem;
    }

    &__title {
      font-size: clamp(1.56rem,3vw,3.13rem);
      font-weight: bold;
    }
  }

  .Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: clamp(1.13rem,2.5vw,2.5rem);

    &__two {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
