@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';


.Section {
  background-color: var(--background-container);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: clamp(2rem,5vw,5rem);
  padding: clamp(5rem,12vw,12rem) 2.5rem clamp(5rem,12vw,12rem) 2.5rem;
  gap: clamp(3rem,4vw,4rem);

  .Titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mediaQueries.for-desktop-new {
      flex-direction: row;
      gap: 1rem;
    }

    &__title {
      font-size: clamp(1.56rem,3vw,3.13rem);
      font-weight: bold;
    }
  }

  .Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: clamp(1.13rem,2vw,2rem);
    font-weight: 300;
    @include mediaQueries.for-desktop-new {
      flex-direction: row;
      text-align: left;
      justify-content: space-around;
    }

    &__caja {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      @include mediaQueries.for-desktop-new {
        width: 23%;
        
      }
    }
  }
}
