@use 'styles/mixins/utilities';

.Section {
  @include utilities.section-200vh;
  @include utilities.background-image(
    url('/pages/innovacion/bg-innovarEsCrear.jpg')
  );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  color: white;

  &__OneBlock {
    @include utilities.flex(column, center, center);
  }
  &__SecondBlock {
    @include utilities.flex(column, center, center, 2vw);
  }
}

.OneBlock {
  &__title {
    font-size: 10vw;
    font-weight: bold;
  }

  &__parrafo {
    font-size: 3.5vw;
    font-weight: 300;
  }
}

.SecondBlock {
  &__frase {
    font-size: 3.5vw;
    font-weight: bold;
    width: 70%;
  }

  &__autor {
    font-size: 2.5vw;
    font-weight: 300;
  }
}
