@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.flex(column, center, center, 2rem);

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__blogs {
    width: 80%;
    display: grid;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, 100%);
    overflow: hidden;

    @include mediaQueries.for-desktop-new {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    @include mediaQueries.for-desktop-new {
      margin-bottom: 10rem;
    }

    &:hover i {
      display: block;
      width: 1.5rem;
    }

    & i {
      display: none;
    }
  }
}
