@use 'styles/mixins/utilities';

.Section {
  @include utilities.section-100vh;
  @include utilities.flex(column, center, center, 2rem);

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__video {
    width: 90vw;
    height: 70vh;

    & div {
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & svg {
      cursor: pointer;
      width: max-content;
    }
  }

  &__link {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    &:hover i {
      display: block;
      width: 1.5rem;
    }

    & i {
      display: none;
    }
  }
}

.LinkEcreea[aria-disabled='true'] {
  color: var(--text-font-color-disabled);
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    display: none;
    content: '¡Muy Pronto!';
    font-size: 0.5rem;
    font-weight: bold;
    background-color: var(--backgorund-disabled);
    color: white;
    text-align: center;
    width: 5rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.4rem;
    position: absolute;
    top: 1.2rem;
    left: calc(50% - 2.5rem);
    opacity: 1;
  }

  &:hover::after {
    display: block;
  }
}
