@use '/styles/mixins/mediaQueries';
@use '/styles/mixins/utilities';

.Navbar {
  background-color: var(--color-bg-navbar);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo centerMenu optionsMenu';
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include mediaQueries.for-phone {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'centerMenu logo  optionsMenu';
  }

  @include mediaQueries.for-tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'centerMenu logo  optionsMenu';
  }

  @include mediaQueries.for-desktop-xxl {
    width: 1920px;
  }

  &__logo {
    justify-self: center;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include mediaQueries.for-phone {
      width: 5rem;
    }
  }

  &__options {
    place-self: center;
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    @include mediaQueries.for-phone {
      font-size: 1rem;
    }
  }

  &__items {
    width: 1rem;
  }

  @include utilities.disableLink;
}
