@use 'styles/mixins/mediaQueries';

.Title {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 56%;

  @include mediaQueries.for-phone {
    width: 80%;
    text-align: center;
  }

  & h1 {
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight: bold;
  }

  & p {
    font-size: clamp(1.2rem, 2vw, 3rem);
    font-weight: 400;
    text-align: justify;
    @include mediaQueries.for-phone {
      text-align: center;
    }
  }
}
