@use 'styles/mixins/mediaQueries';

.Container{
  display: flex;
  flex-direction: column;

  &__paragraph {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    text-align: justify;
    font-size: clamp(1.13rem,3vw,3.16rem);
    padding: clamp(2rem,5vw,5rem);
    gap: 2rem;
  
    h1 {
      font-weight: bold;
    }
  }
}
