@use './mediaQueries';

@mixin background-image($image) {
  background: $image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin section-100vh {
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin section-200vh {
  min-height: 200vh;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin section($height) {
  min-height: $height;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin sectionNoOverflow($height) {
  min-height: $height;
  background-color: var(--background-color);
  position: relative;
}

@mixin flex($direction, $justify, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin disableLink {
  &__disabled {
    color: var(--text-font-color-disabled);
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      display: none;
      content: '¡Muy Pronto!';
      font-size: 0.8em;
      font-weight: bold;
      background-color: var(--backgorund-disabled);
      color: white;
      text-align: center;
      width: 8em;
      height: 2em;
      line-height: 2em;
      border-radius: 0.4em;
      position: absolute;
      top: 3em;
      left: calc(50% - 4em);
      opacity: 1;
    }

    &:hover::after {
      display: block;
    }
  }
}

@mixin cardIndustrias {
  background-color: white;
  width: 57vw;
  height: 65vh;
  border-radius: 1vw;
  overflow: hidden;
  position: relative;
  color: black;
  @include mediaQueries.for-phone {
    width: 75vw;
    height: 28vh;
  }

  @include mediaQueries.for-tablet {
    width: 75vw;
    height: 37vh;
  }

  @include mediaQueries.for-desktop-xxl {
    width: 38vw;
    height: 60vh;
  }
}

@mixin break-word-span {
  content: '\a';
  white-space: pre;
  @include mediaQueries.for-desktop-new {
    content: '';
    white-space: normal;
  }
}
