@use './mediaQueries';

@mixin background-image($image) {
  background: $image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin section-100vh {
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin section-200vh {
  min-height: 200vh;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin section($height) {
  min-height: $height;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}

@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin cardIndustrias {
  background-color: aliceblue;
  width: 57vw;
  height: 65vh;
  border-radius: 1vw;
  overflow: hidden;
  position: relative;
  color: black;
  @include mediaQueries.for-phone {
    width: 75vw;
    height: 28vh;
  }

  @include mediaQueries.for-tablet {
    width: 75vw;
    height: 37vh;
  }

  @include mediaQueries.for-desktop-xxl {
    width: 38vw;
    height: 60vh;
  }
}
