@use '/styles/mixins/mediaQueries';

.Menu {
  place-self: center;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  @include mediaQueries.for-phone {
    font-size: 1rem;
  }

  &__row {
    flex-direction: row;
  }
  &__column {
    flex-direction: column;
  }

  &__disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
