@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(200vh);
  @include utilities.background-image(url('/pages/inversores/bg-huellas.jpg'));
  color: white;
  background-position-x: 63%;
  background-position-y: 0;
  @include mediaQueries.for-desktop-new {
    background-position-x: 40%;
  }

  &__OneBlock {
    min-height: 100vh;
    display: grid;
    grid-template: 0.5fr 0.1fr 1fr / 1fr;
    @include mediaQueries.for-desktop-new {
      grid-template: 0.3fr 1fr / 0.5fr 1fr;
    }
  }
  &__SecondBlock {
    @include utilities.flex(row, center, center);
    min-height: 100vh;
    font-size: clamp(2.8rem, 8vw, 10rem);
    font-weight: bold;
    text-align: center;

    & p {
      width: 80vw;

      & span:nth-child(1)::after {
        content: '\a';
        white-space: pre;
        @include mediaQueries.for-desktop-new {
          content: '';
          white-space: normal;
        }
      }
    }
  }
}

.OneBlock {
  &__title {
    @include utilities.flex(row, center, center);

    @include mediaQueries.for-desktop-new {
      @include utilities.flex(row, flex-start, center);
      margin-left: 4rem;
      grid-area: 1/1/2/3;
    }
  }

  &__desc {
    place-self: center;
    font-size: clamp(1.2rem, 3vw, 3rem);
    width: 80%;
    text-align: center;
    font-weight: 400;
    @include mediaQueries.for-desktop-new {
      grid-area: 2/1/3/2;
    }
  }

  &__Cohete {
    @include utilities.flex(row, center, center, 4rem);
    @include mediaQueries.for-desktop-new {
      grid-area: 2/2/3/3;
    }
  }
}

.Cohete {
  &__porcentaje {
    @include utilities.flex(column, center, center, 7rem);
    font-size: clamp(3rem, 1.5vw, 2rem);
    font-weight: bold;
    width: 10rem;
  }

  &__desc {
    @include utilities.flex(column, center, _, 7rem);
    width: 10rem;

    & h3 {
      font-size: clamp(1rem, 1.5vw, 2rem);
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  }
}
