@use 'styles/mixins/mediaQueries';

.Logo {
  width: clamp(2rem, 6vw, 7rem);
  height: clamp(2rem, 6vw, 7rem);
}

.ContentInitial {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;

  animation: fadeInLogo 3s;

  @keyframes fadeInLogo {
    0%,
    20% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & h3 {
      font-size: clamp(0.7rem, 1.5vw, 2.5rem);
      visibility: hidden;
      opacity: 0;
      animation: fadeOutTitle 0.8s;

      @keyframes fadeOutTitle {
        0%,
        80% {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.WindowCard {
  width: 80%;
  height: 92%;

  background-color: white;
  color: #000;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaQueries.for-desktop-refactor {
    width: clamp(50rem, 56.5vw, 81rem);
  }
}

.Content {
  position: relative;
  width: 75%;
}

.ContentMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(0.7rem, 1.5vw, 2.5rem);

  animation: fadeInContentMain 3.5s;

  @keyframes fadeInContentMain {
    0%,
    65% {
      opacity: 0;
    }
  }

  & section {
    display: flex;
    justify-content: flex-end;
    & h1 {
      margin-top: 1vw;
      font-size: clamp(0.7rem, 2.2vw, 2.5rem);
    }
  }

  & p {
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    text-align: center;
  }

  & a {
    margin-top: clamp(0.5rem, 1.2vw, 1.5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.7rem, 1vw, 1rem);

    font-weight: bold;
    color: #4d91e1;

    & span {
      font-size: clamp(0.5rem, 1.2vw, 1.5rem);
      animation: arrowEffect 1s infinite;

      @keyframes arrowEffect {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(0.5vw);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}
