@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.WindowCard {
  @include utilities.cardIndustrias;
  animation: fadeInWindow 1.5s;

  @keyframes fadeInWindow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__logo {
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 8%;
    left: 12%;
    animation: fadeInLogo 3s;

    @include mediaQueries.for-phone {
      width: 6vw;
      height: 6vw;
    }

    @include mediaQueries.for-tablet {
      width: 6vw;
      height: 6vw;
    }

    @include mediaQueries.for-desktop-xxl {
      width: 3vw;
      height: 3vw;
    }
  }

  @keyframes fadeInLogo {
    0%,
    20% {
      width: 5vw;
      height: 5vw;
      top: calc(50% - 2.5vw);
      left: 18vw;
    }
  }

  @include mediaQueries.for-phone {
    @keyframes fadeInLogo {
      0%,
      20% {
        width: 6.5vw;
        height: 7vw;
        top: calc(50% - 3vw);
        left: 20vw;
      }
    }
  }

  @include mediaQueries.for-tablet {
    @keyframes fadeInLogo {
      0%,
      20% {
        width: 6.5vw;
        height: 7vw;
        top: calc(50% - 3vw);
        left: 24vw;
      }
    }
  }

  @include mediaQueries.for-desktop-xxl {
    @keyframes fadeInLogo {
      0%,
      20% {
        width: 3vw;
        height: 3vw;
        top: calc(50% - 1.5vw);
        left: 14vw;
      }
    }
  }

  &__title {
    position: absolute;
    font-size: 1vw;
    font-weight: 300;
    top: calc(50% - 0.8vw);
    left: 25vw;
    opacity: 0;
    animation: fadeInTitle 3.5s;
    @include mediaQueries.for-phone {
      font-size: 1.5vw;
      top: calc(50% - 0.4vw);
      left: 32vw;
    }

    @include mediaQueries.for-tablet {
      font-size: 1.5vw;
      top: calc(50% - 0.4vw);
      left: 32vw;
    }

    @include mediaQueries.for-desktop-xxl {
      font-size: 0.8vw;
      top: calc(50% - 0.4vw);
      left: 18vw;
    }
  }

  @keyframes fadeInTitle {
    0%,
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }

  &__Info {
    @include utilities.flex(column, center, center, 2vw);
    position: absolute;
    width: 76%;
    height: 85%;
    top: 8%;
    left: 12%;
    animation: fadeInInfo 3.5s;

    @include mediaQueries.for-phone {
      @include utilities.flex(column, center, center, 4vw);
      height: max-content;
    }

    @include mediaQueries.for-tablet {
      @include utilities.flex(column, center, center, 3vw);
      height: max-content;
    }

    @include mediaQueries.for-desktop-xxl {
      @include utilities.flex(column, center, center, 1vw);
    }
  }

  @keyframes fadeInInfo {
    0%,
    65% {
      opacity: 0;
    }
  }
}

.Info {
  &__contentTitle {
    display: flex;
    justify-content: flex-end;
  }

  &__p1 {
    font-size: 2.2vw;
    width: 80%;
    @include mediaQueries.for-phone {
      font-size: 2.9vw;
      width: 80%;
    }

    @include mediaQueries.for-tablet {
      font-size: 2.9vw;
      width: 80%;
    }

    @include mediaQueries.for-desktop-xxl {
      font-size: 1.5vw;
      width: 82%;
    }
  }

  &__p2 {
    font-size: 1.2vw;
    text-align: center;
    @include mediaQueries.for-phone {
      font-size: 1.6vw;
    }

    @include mediaQueries.for-tablet {
      font-size: 1.6vw;
    }

    @include mediaQueries.for-desktop-xxl {
      font-size: 0.8vw;
    }
  }

  &__industrias {
    width: 100%;
    height: 15vw;
    @include mediaQueries.for-phone {
      height: 20vw;
    }

    @include mediaQueries.for-tablet {
      height: 20vw;
    }
  }
  &__link {
    font-size: 1.2vw;
    font-weight: bold;
    color: #4d91e1;
    @include utilities.flex(row, center, center);

    @include mediaQueries.for-phone {
      font-size: 1.6vw;
    }

    @include mediaQueries.for-tablet {
      font-size: 1.6vw;
    }

    @include mediaQueries.for-desktop-xxl {
      font-size: 0.8vw;
    }
  }

  &__arrow {
    width: 1.2vw;
    margin-left: 0.5vw;
    animation: arrowEffect 1s infinite;
    @include mediaQueries.for-phone {
      width: 1.8vw;
    }
  }

  @keyframes arrowEffect {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0.5vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
