@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(100vh);
  @include utilities.flex(column, center, center, 5vw);
  font-weight: bold;

  @include mediaQueries.for-phone {
    @include utilities.section(80vh);
    gap: 15vw;
  }

  @include mediaQueries.for-tablet {
    @include utilities.section(80vh);
    gap: 10vw;
  }

  &__title {
    font-size: 2em;
  }

  &__list {
    @include utilities.flex(column, __, flex-start);
    counter-reset: counter;

    @include mediaQueries.for-phone {
      @include utilities.flex(column, __, flex-start, 10vw);
      width: 80%;
    }

    @include mediaQueries.for-tablet {
      @include utilities.flex(column, __, flex-start, 8vw);
      width: 80%;
    }
  }

  &__item {
    font-size: 6em;
    counter-increment: counter;
    display: flex;
    position: relative;

    &::before {
      content: counter(counter) '.  ';
      margin-right: 0.5em;
    }

    @include mediaQueries.for-phone {
      font-size: 8vw;
    }

    @include mediaQueries.for-tablet {
      font-size: 8vw;
    }
  }

  &__subrayado {
    position: absolute;
    width: 3em;
    top: 110%;
    left: 68%;
  }

  &__animate {
    animation: subrayado 1s ease;
  }

  @keyframes subrayado {
    0%,
    70% {
      width: 0;
    }
    100% {
      width: 3em;
    }
  }
}
