@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(100vh);
  @include utilities.flex(column, center, center);

  &__title {
    width: 80%;
    font-size: 6.4em;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(
      135deg,
      #ffb21a 20%,
      #fc1361,
      #b20560,
      #780d57,
      #ffb21a 80%
    );
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: text_animate 10s reverse infinite;

    @include mediaQueries.for-phone {
      font-size: 15vw;
      width: 72%;
      background: linear-gradient(
        135deg,
        #ffb21a 80% #fc1361,
        #b20560,
        #780d57,
        #ffb21a 20%
      );
      animation: none;
    }
  }

  @keyframes text_animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}
