.textField {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: .5rem;
  padding: clamp(.6rem,1.5vw,1.5rem) 0;
  width: 75%;
  margin: 0 auto;
  color: black;

  .textPad {
    display: flex;
    padding: 0 clamp(1.5rem,3vw,3rem);
    gap: clamp(.8rem,2vw,2rem);
    width: 100%;

    & .iconContainer {
      display: flex;
      align-items: center;
      color: #B0AFAF;
      font-size: clamp(1.4rem,3vw,3rem);
    }
    
    & input[type="text"] {
      border: none;
      outline: none;
      font-size: clamp(1rem,2.2vw,2.2rem);
      width: 100%;
    }
  } 
}