@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section-100vh;
  @include utilities.background-image(url('/pages/innovacion/bg-energia.jpg'));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: white;

  @include mediaQueries.for-phone {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-size: 180% 100%;
    background-position-x: 0em;
  }

  &__content {
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 87%;

    @include mediaQueries.for-phone {
      width: 90%;
      place-self: center;
    }
  }

  &__centrar {
    display: flex;
    justify-content: center;
    @include mediaQueries.for-desktop-new {
      justify-content: flex-start;
    }
  }
}
