@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section {
  @include utilities.section(100vh);
  display: grid;
  grid-template: repeat(7, 1fr) / auto;

  &__title {
    grid-area: 2/1/3/2;
    font-size: 2.5rem;
    font-weight: bold;
    place-self: center;
    text-align: center;
  }

  &__p1 {
    grid-area: 3/1/4/2;
    font-size: 1.2rem;
    place-self: center;
    text-align: center;
    margin: 0 2rem;
  }

  &__graf {
    position: relative;
    object-fit: contain;
  }
}
