@use '/styles/mixins/mediaQueries';

.LinkEcreea[aria-disabled='true'] {
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    display: none;
    content: '¡Muy Pronto!';
    font-size: 0.5rem;
    font-weight: bold;
    background-color: var(--backgorund-disabled);
    color: white;
    text-align: center;
    width: 5rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.4rem;
    position: absolute;
    top: 2.1rem;
    left: calc(50% - 2.5rem);
    opacity: 1;
  }

  &:hover::after {
    display: block;
  }
}

.LinkEcreea {
  color: var(--link-color);
  @include mediaQueries.for-desktop-new {
    color: white;
  }
  font-size: 0.8rem;
  
}

.LinkScroll {
  @include mediaQueries.for-desktop-new {
    color: var(--link-color);

    &:hover {
      color: var(--text-font-color);
    }
  }
}