.Page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__gato {
    position: relative;
    width: 20rem;
    color: var(--text-font-color);
  }

  & h4 {
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  & h5 {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & span {
      font-size: 1.5rem;
      width: 1.5rem;
    }
  }

  & p {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    width: 14rem;
    text-align: center;
    color: #747474;
    & b {
      color: var(--text-font-color);
    }
  }
}

.Table {
  border: 1px solid #020202;
  width: 80%;

  & ul:nth-child(2n) {
    background-color: #a09e9e;
  }

  &__titles {
    display: flex;
    background-color: #747474;
    color: aliceblue;

    & > li {
      flex-grow: 1;
      text-align: center;
      padding: 1rem 0;
    }
  }

  &__rows {
    display: flex;

    & > li {
      flex-grow: 1;
      text-align: center;
      padding: 1rem 0;
    }
  }
}
