
.Section {
  display: flex;
  flex-direction: column;
  margin: clamp(1rem,2vw,2rem) clamp(2rem,5vw,5rem);
  gap: clamp(1rem,2.3vw,2.3rem);
  
  .Title {
    display: grid;
    grid-template-columns: 1fr .1fr;
    align-items: center;
    text-align: left;
    font-size: clamp(1.56rem,2.63vw,2.63rem);
    font-weight: bold;

    &__icon {
      font-size: clamp(1.4rem,2.5vw,2.5rem);
    }
  }

  .Paragraph{
    text-align: justify;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: clamp(1.13rem,2vw,2rem);
    white-space: pre-wrap;
}

  .Line {
    height: .05rem;
    width: 100%;
    background-color: var(--text-font-color);
  }

  .PaddTopContent {
    padding-top: clamp(3rem,6vw,6rem);
  }
}