@use 'styles/mixins/utilities';

.Section {
  @include utilities.section-100vh;
  @include utilities.background-image(
    url('/pages/innovacion/bg-logistico.jpg')
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: white;

  &__left {
    padding: 5vw;
  }
  &__right {
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
}
