
.Section {
  display: flex;
  flex-direction: column;
  margin: clamp(1rem,2vw,2rem) clamp(2rem,5vw,5rem);
  gap: clamp(1rem,2.3vw,2.3rem);
  
  .Title {
    display: grid;
    grid-template-columns: 1fr .1fr;
    align-items: center;
    text-align: left;
    font-size: clamp(1.56rem,2.63vw,2.63rem);
    font-weight: bold;
  }

  .Paragraph{
    text-align: justify;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: clamp(1.13rem,2vw,2rem);
    white-space: pre-wrap;

    & h1,
    & h2,
    & h3,
    & h5,
    & h6,
    & ul,
    & li,
    & ol,
    & strong {
    font-weight: bold;
    }
}
}